<div class="nested-fields">
  <td>
    <%= link_to_remove_association "remove answer", f, class: "text-warning" %>
  </td>
  <td>
    <%= f.input :correct, as: :boolean, boolean_style: :inline, checked_value: true, unchecked_value: false %>
  </td>
  <td>
    <%= f.input :text, label: false %>
  </td>
</div>
