<div class="d-flex justify-content-between">
  <h4 class="text-small m-2"><b><%= @course.name %></b></h4>
</div>

<div class="d-flex mt-3">
  <div id="course-sidebar" class="mr-5">
    <div id="topic-list" class="flex-grow-1 mt-2 mr-1">
      <h5 class = "m-1">Contents</h5>
      <ol>
        <% @course.study_modules.each do |study_module| %>
          <li class = "p-1"><%=link_to_unless_current study_module.name, study_course_path(@course, study_module_id: study_module.id) %></li>
        <% end %>
          <h5 class="mt-4">END OF COURSE </h5>
      </ol>
    </div>
    <!-- <div id="settings">Settings</div> -->
  </div>
  <div class="modules bg-muted d-flex flex-column">
    <div id="editor" class="flex-grow-1">
      <%= render "study/#{@contentable.class.table_name}/module_view", contentable: @contentable %>
    </div>
    <div class="course-description">
    </div>
  </div>
</div>
