<div class="progress w-100" style="height: 2px;" data-target="progresses.bar" data-course-id=<%= course.id %>>
  <div class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
</div>
