<div class="progress w-100" style="height: 2px;">
  <div class="progress-bar" role="progressbar" style="width: <%= current %>%" aria-valuenow="<%= current %>" aria-valuemin="0" aria-valuemax="100"></div>
</div>
  <%= current %>%

