.banner{
  height: 100vh;
  width: 95vw;
  position: relative;
  margin: auto;
}// Specific CSS for your home-page

.editor{
  background-color: white;
  height: 50vh;
  padding: 30px;
  overflow-x: hidden;
  overflow-y: auto;
  text-align:justify;
  border: none;
}

.desc{
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.name-desc {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

// .preview{
//   background-color: white;
//   padding: 30px;
//   overflow-x: hidden;
//   overflow-y: auto;
//   text-align:justify;
// }

body{
  background: white;
}

.lesson{
  border: none;
  font-size: 42px;
}

#url{
  width: 100%;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: darkgrey;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: grey;
}

// .title{
//   border: none;
//   background: blue;
// }
