<div class="message-container" id="message-<%= message.id %>">
  <i class="author">
    <span><strong> <%= message.user.nickname %> </strong></span>
    <small>@<%= course.name %></small>
  </i>
  <p><%= message.content %></p>
  <hr>
</div>
