<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="notificationMenu" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="fas fa-bell bell-icon"></i>
    <div class="notification-count">1</div>
  </a>
  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
    <a class="dropdown-item" >
      <div id="notification-display" data-user-id="<%= current_user.id %>" class="p-2">End of notification</div>
    </a>
  </div>
</li>
