<div class="navbar navbar-expand-lg navbar-light bg-light">
  <div class = "d-flex justify-content-between">
    <div class="navbar-text">
      Navbar text with an inline element
    </div>
    <div>
          <%= link_to "Study", user_enrollments_path(current_user), class: "nav-link" %>
    </div>
  </div>
</div>
