<!-- <h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p> -->
<div class="banner_home">

<div class="container">
  <section class = "row">
    <div class="col-6">
      <%= image_tag "MacbookFinal.png", alt: "alttext", class: "img-fluid" %>
      <!-- <h1 class="headline">Teach Remote</h1> -->

    </div>
    <div class="col-6 d-flex align-items-center">
      <h1>teach online</h1>
    </div>
  </section>

</div>
</div>





<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js" integrity="sha256-lPE3wjN2a7ABWHbGz7+MKBJaykyzqCbU96BJWjio86U=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TimelineMax.min.js" integrity="sha256-fIkQKQryItPqpaWZbtwG25Jp2p5ujqo/NwJrfqAB+Qk=" crossorigin="anonymous"></script>
