<!-- <h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p> -->
<div class="banner_home">

<div class="container">
  <section class = "row">
    <div class="col-6">
      <%= image_tag "MacbookFinal.png", alt: "alttext", class: "img-fluid" %>
      <!-- <h1 class="headline">Teach Remote</h1> -->

    </div>
    <div class="col-6 d-flex align-items-center">
      <h1>teach online</h1>
    </div>
  </section>

</div>
</div>



