<div>
  <% if current_user == @course.teacher %>
    <%= link_to "Edit course", edit_course_path(@course, study_module_id: @course.study_module_ids.first), class: "btn btn-primary" %>
  <% end %>
  <div class = "p-3 view" >
    <h1><%= @contentable.study_module.name %></h1>
    <%= @contentable.content %>
  </div>

</div>
