#course-sidebar {
  min-width: 200px;
  max-width: 20%;
  background: beige;
  border-radius: 10px;
  padding-top: 10px;
  box-shadow: 2px 2px 4px darkgrey;
  overflow-x: hidden;
  overflow-y: auto;
  height: 80vh;
}
