#course-sidebar {
  background: #2b373f;
  border-radius: 5px;
  padding-top: 10px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 80vh;
  border: 3px solid white;
}

.student_show{
  background: #2b373f;
  border-radius: 5px;
  padding-top: 10px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 80vh;
  color: white;
  border: 3px solid white;
}
