#course-sidebar {
  background: #606870;
  border-radius: 5px;
  padding-top: 10px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 80vh;
  border: 3px solid white;
}

.student_show {
  background: #606870;
  border-radius: 5px;
  padding-top: 10px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 80vh;
  color: #8d969e;
  border: 3px solid white;
  a {
    color: #ffffff;
  }
}

// #sidebar{
//        width: 250px;
//     position: fixed;
//     top: 0;
//     left: 0;
//     height: 100vh;
//     z-index: 999;
//     transition: all 0.3s;
// }

