.study-course-content {
  max-width: 700px;
  margin: 0 auto;
}
.preview {
  width: auto;
  height: auto;
}

a {
  color: #8d969e;
}

a:hover {
  color: #8d969e;
  text-decoration-style: double;
}

// a:visited {
//   color: #ffffff;
// }
